<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="de.pascaldierich.model">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        >

        <provider
            android:authorities="de.pascaldierich.watchdogs"
            android:name=".local.WatchdogProvider"
            android:exported="false"/>

    </application>
</manifest>
